*.sdf
*.suo
*.pdb
*.ipch
*.obj
*.ipch
*.idb
*.pyc
*.tlog
*.pch
*.log
*.res
*.opensdf
*.opendb
*.user
*.ipdb
*.iobj
Debug/
Release/
PlayAigis/Debug/
PlayAigis/Release/
/publish/pyserver/*.txt
/publish/pyserver/*.html
/publish/library/