*.sdf
*.suo
*.pdb
*.ipch
*.obj
*.ipch
*.idb
*.pyc
*.tlog
*.pch
*.log
*.res
*.opensdf
Debug
Release
PlayAigis/Debug
PlayAigis/Release
/publish/*.txt
/publish/*.html
/publish/PlayAigis.ipdb
/publish/PlayAigis.iobj
